@import url(common.css);

body{
  background: #030102;
}

#main{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:70px;
}

.about_head img {
  width:100%;
}

.about_font{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about_main_visual{
  overflow: hidden;
  position:relative;
  width:100%;
  margin:30px auto 30px auto;
}
.swiper-wrapper .swiper-slide img{  /*가변이미지*/
	width:100%; 
	max-width:100%;
}

.about_font p{
  color:#8A8369;
  font-size:30px;
  font-size:1.875rem;
  /* font-family: 'Song Myung', serif; !일단보류! */
}

.about_font img{
  margin:30px;
}

.about_font span{
  color:#A9A0A0;
  font-size:16px;
  font-size:1rem;
  margin-bottom:10px;
}
section{
  width:100%;
  box-sizing: border-box;
}